.hide{
    display: none;
}

.plus-sign {
  transition: all 0.3s ease;
}
.plus-sign:hover {
    cursor: pointer;
    transform: rotate(90deg);
    transition: all 0.3s ease;
}
.plus-sign:active{
      transition: none;
  }
.plus-sign:before,.plus-sign:after{
    position:absolute;
	  top:50%;
	  left:50%;
	  margin-left:-10px;
	  margin-top:-3px;
	  content:'';
	  height:5px;
	  width:20px;
  }
.plus-sign:after{
    transform:rotate(90deg);
	  -webkit-transform:rotate(90deg);
	  -mox-transform:rotate(90deg);
}

.addCircle:active{
    background-color: rgb(8 145 178);
}


